.player-row:after, .opponents:after, .playArea:after,  .drawArea:after {	/* https://css-tricks.com/snippets/css/clear-fix/ clears the floats of all children*/
  clear: both;
  content: "";
  display: table;
}

.drawArea {
  float: center;
  padding: 5;
}

.dragArea {
  background: #aaa;
  height: 30px;
  font-size: /*1.25vw;*/ /* 1.5em; */ 24px;
  text-align: center;
  cursor: move;
}

.playArea {
  float: none;
  margin: auto;
}

.icon {
  height: 35px;
  width: 30px;
  font-size: /*1.25vw;*/ /* 1.5em; */ 22px;	/* all these alternatives work. */
  text-align: center;
  line-height: 35px;	/* make the same as height to centre the text. See https://www.w3schools.com/css/css_align.asp*/
}

h1 {
  text-align: center;
}

.player {
  height: 240px;
  width: 250px;
  padding: 2;
  border: 4px solid #999;
  margin: 2px;

  float: left;
  
  font-size: /*1.25vw;*/ /* 1.5em; */ 24px;	/* all these alternatives work */
  text-align: center;
}

.entry {
  font-size: /*1.25vw;*/ /* 1.5em; */ 24px;
  width: 250px;
  background: none;
  border: none;
  text-align: center;
  outline: none;	/* remove blue line around input field when selected.  https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element*/
}

.bolded {
  border: 4px solid #000;
}

.draggable {
  position: absolute;
}

.campari {
  height: 800px;
  width: 802px;
  background: #eee;
}

.Player0 {
  background: #f88;
}

.Player1 {
  background: #8f8;
}

.Player2 {
  background: #88f;
}

.Player3 {
  background: #ff8;
}

.Player4 {
  background: #8ff;
}


.card.draggable {	/* https://stackoverflow.com/questions/11918491/using-two-css-classes-on-one-element, https://www.w3.org/TR/selectors-3/#specificity*/
  padding: 7px;
}

.card {
  padding: 0px;
  border: 0px solid #fff;
  margin: 1px;
  disabled: true;
  cursor: move;	/* change the cursor style http://www.javascripter.net/faq/stylesc.htm*/
  width: 79px;
  height: 105px;
  float: left;
}

.nocard {
  padding: 0px;
  border: 1px solid #fff;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-right: 6px;
  margin-left: 6px;
  width: 67px;
  height: 90px;

  background: #f8f8f8;
  disabled: true;
  /* cursor: move;	 change the cursor style http://www.javascripter.net/faq/stylesc.htm*/
  float: left;
}

.bottomMargin {
  height: 20px;
}

canvas {
  width: 400px;
  height: 300px;
  border: 5px solid black;
}
